/* COLORS */
@font-face {
  font-family: "Lato";
  src: url("../witryna-2/assets/fonts/Lato-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Lato";
  src: url("../witryna-2/assets/fonts/Lato-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Montserrat";
  src: url("../witryna-2/assets/fonts/Montserrat-ExtraBold.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
}
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default padding */
ul[class],
ol[class] {
  padding: 0;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
}

/* Remove list styles on ul, ol elements with a class attribute */
ul[class],
ol[class] {
  list-style: none;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
.post, .page {
  margin: 0 0 0;
}

footer {
  padding-top: 50px;
  padding-bottom: 70px;
  background: #222;
}
@media (max-width: 766px) {
  footer {
    padding-top: 30px;
    padding-bottom: 40px;
  }
}
footer .center-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  footer .center-wrapper {
    max-width: 960px;
  }
}
@media (max-width: 998px) {
  footer .center-wrapper {
    max-width: 720px;
  }
}
@media (max-width: 766px) {
  footer .center-wrapper {
    max-width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 558px) {
  footer .center-wrapper {
    max-width: 100%;
    padding: 0 12px;
  }
}
footer .center-wrapper .row {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 766px) {
  footer .center-wrapper .row {
    flex-wrap: wrap;
  }
}
@media (max-width: 766px) {
  footer .center-wrapper .row .footer-menu {
    width: 100%;
    margin-bottom: 15px;
  }
}
footer .center-wrapper .row .footer-menu ul {
  display: flex;
}
footer .center-wrapper .row .footer-menu ul a {
  color: #fff;
  font-size: 24px;
  line-height: 50px;
  font-weight: 400;
  margin-right: 40px;
  text-decoration: none;
}
@media (max-width: 766px) {
  footer .center-wrapper .row .footer-menu ul a {
    font-size: 18px;
    line-height: 26px;
  }
}
footer .center-wrapper .row .social-wrapper {
  display: flex;
}
footer .center-wrapper .row .social-wrapper a.social-item {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 25px;
  transition: 150ms;
  background: #3163DC;
  display: block;
  position: relative;
}
footer .center-wrapper .row .social-wrapper a.social-item:hover {
  background: #2751b3;
}
footer .center-wrapper .row .social-wrapper a.social-item i {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  color: #ffff;
}
footer .center-wrapper .copyright {
  color: #818181;
  font-size: 19px;
  line-height: 130%;
  font-weight: 500;
  margin-top: 35px;
}

.site-header {
  padding-bottom: 5px;
  position: relative;
}
.site-header .center-wrapper {
  width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .site-header .center-wrapper {
    max-width: 960px;
  }
}
@media (max-width: 998px) {
  .site-header .center-wrapper {
    max-width: 720px;
  }
}
@media (max-width: 766px) {
  .site-header .center-wrapper {
    max-width: 100%;
    padding: 0px;
  }
}
@media (max-width: 558px) {
  .site-header .center-wrapper {
    max-width: 100%;
    padding: 0;
  }
}
.site-header .center-wrapper .header__columns {
  padding: 20px 0;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
}
@media (max-width: 998px) {
  .site-header .center-wrapper .header__columns {
    position: relative;
    padding: 15px 0;
  }
}
@media (max-width: 766px) {
  .site-header .center-wrapper .header__columns {
    padding: 10px 20px;
  }
}
@media (max-width: 558px) {
  .site-header .center-wrapper .header__columns {
    padding: 10px 10px;
  }
}
@media (max-width: 998px) {
  .site-header .center-wrapper .header__columns #header-togglers {
    display: none;
  }
}
@media (max-width: 998px) {
  .site-header .center-wrapper .header__columns #header-menu {
    position: absolute;
    right: 0;
    width: 100%;
    display: flex;
    text-align: center;
  }
}
@media (max-width: 998px) {
  .site-header .center-wrapper .header__columns .logo-wrapper {
    width: max-content;
    z-index: 999;
    flex: 0;
  }
}
.site-header .center-wrapper .header__columns .header__column {
  align-items: center;
  display: flex;
  flex: 1;
}
@media (max-width: 998px) {
  .site-header .center-wrapper .header__columns .header__column {
    display: block;
    flex: 0;
  }
}
.site-header .center-wrapper .header__columns .header__column .logo {
  color: #3163DC;
  font-family: "Montserrat", sans-serif;
  font-size: 39px;
  letter-spacing: 0.15em;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 auto;
  text-decoration: none;
}
@media (max-width: 1200px) {
  .site-header .center-wrapper .header__columns .header__column .logo {
    font-size: 30px;
  }
}
@media (max-width: 766px) {
  .site-header .center-wrapper .header__columns .header__column .logo {
    font-size: 25px;
  }
}
@media (max-width: 374px) {
  .site-header .center-wrapper .header__columns .header__column .logo {
    font-size: 22px;
  }
}
.site-header .center-wrapper .header__columns .header__column .toggled {
  z-index: 10;
}
@media (max-width: 998px) {
  .site-header .center-wrapper .header__columns .header__column .toggled .menu-menu-1-container {
    margin-top: 20px;
    flex-direction: column;
    padding: 25px 0 20px;
    background: #222;
  }
}
@media (max-width: 374px) {
  .site-header .center-wrapper .header__columns .header__column .toggled .menu-menu-1-container {
    margin-top: 10px;
  }
}
@media (max-width: 998px) {
  .site-header .center-wrapper .header__columns .header__column .toggled .menu-menu-1-container .menu .menu-item {
    width: 100%;
    padding: 20px;
    margin-right: 0;
    background: #222;
    text-align: center;
  }
}
.site-header .center-wrapper .header__columns .header__column .toggled .menu-menu-1-container .menu .menu-item:hover {
  background: #3163DC;
}
.site-header .center-wrapper .header__columns .header__column .toggled .menu-menu-1-container .menu .menu-item a {
  font-size: 32px;
  color: #fff;
  margin: 0;
}
.site-header .center-wrapper .header__columns .header__column .toggled .menu-menu-1-container .menu .menu-item a:hover {
  color: #fff;
}
.site-header .center-wrapper .header__columns .header__column .main-navigation .menu-toggle {
  cursor: pointer;
}
@media (max-width: 998px) {
  .site-header .center-wrapper .header__columns .header__column .main-navigation .menu-toggle {
    background: #3163DC;
    border-color: #3163DC;
    color: #fff;
    outline: none;
    width: 40px;
    height: 40px;
    margin-left: calc(100% - 40px);
    position: relative;
  }
}
@media (max-width: 998px) and (max-width: 766px) {
  .site-header .center-wrapper .header__columns .header__column .main-navigation .menu-toggle {
    margin-left: calc(100% - 60px);
  }
}
@media (max-width: 998px) and (max-width: 558px) {
  .site-header .center-wrapper .header__columns .header__column .main-navigation .menu-toggle {
    margin-left: calc(100% - 50px);
  }
}
@media (max-width: 998px) {
  .site-header .center-wrapper .header__columns .header__column .main-navigation .menu-toggle::before {
    position: absolute;
    content: "";
    width: 14px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: url("../witryna-2/assets/header/bars-solid.svg");
    background-size: cover;
  }
}
.site-header .center-wrapper .header__columns .header__column .main-navigation .menu .menu-item {
  margin-right: 30px;
}
.site-header .center-wrapper .header__columns .header__column .main-navigation .menu .menu-item.active {
  border-bottom: 2px solid;
}
.site-header .center-wrapper .header__columns .header__column .main-navigation .menu .menu-item a {
  transition: 150ms;
  font-size: 20px;
  font-weight: 500;
  line-height: 130%;
  color: #000;
}
.site-header .center-wrapper .header__columns .header__column .main-navigation .menu .menu-item a:hover {
  color: #3163DC;
  transition: 150ms;
}
@media (max-width: 1200px) {
  .site-header .center-wrapper .header__columns .header__column .main-navigation .menu .menu-item a {
    font-size: 14px;
  }
}
@media (max-width: 998px) {
  .site-header .center-wrapper .header__columns .header__column .main-navigation.toggled .menu-toggle {
    background: #3163DC;
    border-color: #3163DC;
    color: #fff;
    outline: none;
    width: 40px;
    height: 40px;
    position: relative;
  }
  .site-header .center-wrapper .header__columns .header__column .main-navigation.toggled .menu-toggle::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 16px;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    background: url("../witryna-2/assets/header/times-solid.svg");
    background-size: cover;
  }
}

.section {
  padding: 30px 0 45px;
}
@media (max-width: 558px) {
  .section {
    padding: 15px 0 20px;
  }
}
@media (max-width: 374px) {
  .section {
    background: #f4f7fc;
    padding: 10px 0;
  }
}
.section .center-wrapper {
  max-width: 1200px;
  margin: 0 auto;
}
@media (max-width: 1200px) {
  .section .center-wrapper {
    max-width: 960px;
  }
}
@media (max-width: 998px) {
  .section .center-wrapper {
    max-width: 720px;
  }
}
@media (max-width: 766px) {
  .section .center-wrapper {
    max-width: 100%;
    padding: 0 20px;
  }
}
@media (max-width: 558px) {
  .section .center-wrapper {
    max-width: 100%;
    padding: 0 12px;
  }
}
.section .center-wrapper .section-headline {
  margin-bottom: 25px;
  color: #222;
  font-family: "Montserrat", sans-serif;
  font-size: 32px;
  font-weight: 800;
  text-transform: uppercase;
}
@media (max-width: 998px) {
  .section .center-wrapper .section-headline {
    text-align: center;
    line-height: 130%;
  }
}
@media (max-width: 374px) {
  .section .center-wrapper .section-headline {
    font-size: 22px;
    margin-bottom: 15px;
  }
}
.section .center-wrapper .line .card {
  display: block;
  border-radius: 4px;
  border: 1px solid #D6D6D6;
  text-decoration: none;
}
.section .center-wrapper .line .card .card-image {
  border-radius: 4px 4px 0 0;
}
.section .center-wrapper .line .card .card-image img {
  width: 100%;
  border-radius: 4px 4px 0 0;
}
.section .center-wrapper .line .card .content {
  padding: 15px 20px 25px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
@media (max-width: 374px) {
  .section .center-wrapper .line .card .content {
    padding: 5px 8px 8px;
  }
}
.section .center-wrapper .line .card .content .title {
  font-size: 19px;
  font-weight: 500;
  transition: 150ms;
  line-height: 26px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: 78px;
}
@media (max-width: 766px) {
  .section .center-wrapper .line .card .content .title {
    font-size: 16px;
    line-height: 22px;
  }
}
.section .center-wrapper .line .card .content .title:hover {
  text-decoration: none;
}
.section .center-wrapper .line .card .content .post-date {
  color: #818181;
  font-size: 16px;
  line-height: 130%;
  padding-top: 10px;
}
@media (max-width: 1200px) {
  .section .center-wrapper .line .card .content .post-date {
    font-size: 15px;
  }
}
.section .center-wrapper .line .card:hover .title {
  color: #3163DC;
  text-decoration: underline;
}
.section .center-wrapper .line_of-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
  margin-bottom: 20px;
}
@media (max-width: 558px) {
  .section .center-wrapper .line_of-3 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 374px) {
  .section .center-wrapper .line_of-3 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 558px) {
  .section .center-wrapper .line_of-3 .card:last-child {
    display: none;
  }
}
@media (max-width: 374px) {
  .section .center-wrapper .line_of-3 .card:last-child {
    display: block;
  }
}
.section .center-wrapper .line_of-3 .card .card-image img {
  height: 288px;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .section .center-wrapper .line_of-3 .card .card-image img {
    height: 228px;
  }
}
@media (max-width: 998px) {
  .section .center-wrapper .line_of-3 .card .card-image img {
    height: 170px;
  }
}
.section .center-wrapper .line_of-3 .card .content {
  height: calc(100% - 288px);
}
@media (max-width: 1200px) {
  .section .center-wrapper .line_of-3 .card .content {
    height: calc(100% - 228px);
  }
}
@media (max-width: 998px) {
  .section .center-wrapper .line_of-3 .card .content {
    height: calc(100% - 170px);
  }
}
.section .center-wrapper .line_of-4 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
@media (max-width: 998px) {
  .section .center-wrapper .line_of-4 {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 558px) {
  .section .center-wrapper .line_of-4 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width: 374px) {
  .section .center-wrapper .line_of-4 {
    grid-template-columns: repeat(1, 1fr);
  }
}
@media (max-width: 998px) {
  .section .center-wrapper .line_of-4 .card:last-child {
    display: none;
  }
}
@media (max-width: 558px) {
  .section .center-wrapper .line_of-4 .card:last-child {
    display: block;
  }
  .section .center-wrapper .line_of-4 .card:nth-child(2n) {
    display: none;
  }
}
@media (max-width: 374px) {
  .section .center-wrapper .line_of-4 .card:last-child {
    display: block;
  }
  .section .center-wrapper .line_of-4 .card:nth-child(2n) {
    display: block;
  }
}
.section .center-wrapper .line_of-4 .card .card-image img {
  height: 212px;
  object-fit: cover;
}
@media (max-width: 1200px) {
  .section .center-wrapper .line_of-4 .card .card-image img {
    height: 160px;
  }
}
@media (max-width: 998px) {
  .section .center-wrapper .line_of-4 .card .card-image img {
    height: 170px;
  }
}
.section .center-wrapper .line_of-4 .card .content {
  height: calc(100% - 212px);
}
@media (max-width: 1200px) {
  .section .center-wrapper .line_of-4 .card .content {
    height: calc(100% - 160px);
  }
}
@media (max-width: 998px) {
  .section .center-wrapper .line_of-4 .card .content {
    height: calc(100% - 170px);
  }
}
.section .center-wrapper .column_of-6 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
@media (max-width: 998px) {
  .section .center-wrapper .column_of-6 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.section .center-wrapper .column_of-6 .card {
  display: flex;
  border-radius: 4px;
  border: 1px solid #D6D6D6;
  text-decoration: none;
}
@media (max-width: 998px) {
  .section .center-wrapper .column_of-6 .card:nth-child(2n) {
    display: none;
  }
}
@media (max-width: 374px) {
  .section .center-wrapper .column_of-6 .card:nth-child(2n) {
    display: flex;
    flex-wrap: wrap;
  }
}
@media (max-width: 374px) {
  .section .center-wrapper .column_of-6 .card {
    display: block;
  }
}
.section .center-wrapper .column_of-6 .card .card-image {
  border-radius: 4px 0 0 4px;
  width: 143px;
  height: 108px;
}
@media (max-width: 374px) {
  .section .center-wrapper .column_of-6 .card .card-image {
    width: 100%;
    height: auto;
  }
}
.section .center-wrapper .column_of-6 .card .card-image img {
  border-radius: 4px 4px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
@media (max-width: 374px) {
  .section .center-wrapper .column_of-6 .card .card-image img {
    height: 170px;
  }
}
.section .center-wrapper .column_of-6 .card .content {
  padding: 15px 8px 15px 15px;
  transition: 150ms;
  width: calc(100% - 143px);
}
@media (max-width: 374px) {
  .section .center-wrapper .column_of-6 .card .content {
    width: 100%;
    height: calc(100% - 170px);
    padding: 5px 8px 8px;
  }
}
.section .center-wrapper .column_of-6 .card .content .title {
  font-size: 19px;
  font-weight: 500;
  transition: 150ms;
  line-height: 26px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: 78px;
}
@media (max-width: 766px) {
  .section .center-wrapper .column_of-6 .card .content .title {
    font-size: 18px;
    line-height: 24px;
  }
}
@media (max-width: 374px) {
  .section .center-wrapper .column_of-6 .card .content .title {
    font-size: 16px;
    line-height: 22px;
  }
}
.section .center-wrapper .column_of-6 .card .content .title:hover {
  text-decoration: none;
}
.section .center-wrapper .column_of-6 .card:hover .title {
  color: #3163DC;
  text-decoration: underline;
}

.section-bg {
  background-color: #F3F3F3;
}
@media (max-width: 374px) {
  .section-bg {
    background: #f4f7fc;
  }
}

.decorated-bottom {
  position: relative;
}
.decorated-bottom::after {
  z-index: 10;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  height: 5px;
  width: 100%;
  background: transparent url("../witryna-2/assets/header/decor-pattern.png") repeat-x 0 0;
}
@media (max-width: 766px) {
  .decorated-bottom::after {
    height: 1px;
    background-color: #D6D6D6;
    background-image: none;
  }
}
@media (max-width: 374px) {
  .decorated-bottom::after {
    display: none;
  }
}

@media (max-width: 766px) {
  header.decorated-bottom::after {
    display: none;
  }
}
@media (max-width: 374px) {
  header.decorated-bottom::after {
    display: block;
  }
}

.section_of-2 {
  padding: 30px 0;
}
.section_of-2 .center-wrapper .column_of-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
@media (max-width: 998px) {
  .section_of-2 .center-wrapper .column_of-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.section_of-2 .center-wrapper .column_of-2 .card {
  display: flex;
  border-radius: 4px;
  border: 1px solid #D6D6D6;
  text-decoration: none;
  background: #e8f7ff;
}
@media (max-width: 998px) {
  .section_of-2 .center-wrapper .column_of-2 .card {
    border-radius: 0px;
    border: 0px solid #D6D6D6;
    text-decoration: none;
    background: transparent;
  }
}
.section_of-2 .center-wrapper .column_of-2 .card .card-image {
  border-radius: 4px 0 0 4px;
  width: 143px;
  height: 108px;
}
@media (max-width: 558px) {
  .section_of-2 .center-wrapper .column_of-2 .card .card-image {
    width: 130px;
    height: 100px;
  }
}
.section_of-2 .center-wrapper .column_of-2 .card .card-image img {
  border-radius: 4px 4px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.section_of-2 .center-wrapper .column_of-2 .card .content {
  width: calc(100% - 143px);
  padding: 15px 8px 15px 15px;
  transition: 150ms;
}
@media (max-width: 558px) {
  .section_of-2 .center-wrapper .column_of-2 .card .content {
    padding: 0px 0px 0px 10px;
    width: calc(100% - 130px);
  }
}
.section_of-2 .center-wrapper .column_of-2 .card .content .title {
  font-size: 19px;
  font-weight: 500;
  transition: 150ms;
  line-height: 26px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: 78px;
}
@media (max-width: 558px) {
  .section_of-2 .center-wrapper .column_of-2 .card .content .title {
    font-size: 17px;
    line-height: 24px;
  }
}
.section_of-2 .center-wrapper .column_of-2 .card .content .title:hover {
  text-decoration: none;
}
.section_of-2 .center-wrapper .column_of-2 .card:hover .title {
  color: #3163DC;
  text-decoration: underline;
}

.single-content {
  background-color: #F3F3F3;
  font-family: "Lato", sans-serif;
  color: #222;
  line-height: 130%;
}
@media (max-width: 558px) {
  .single-content {
    padding-top: 0;
  }
}
@media (max-width: 558px) {
  .single-content .center-wrapper {
    padding: 0;
  }
}
.single-content .article-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: 20px;
  position: relative;
}
@media (max-width: 1200px) {
  .single-content .article-section {
    display: flex;
  }
}
.single-content .article-section .article-wrapper {
  border-radius: 4px;
  background: #fff;
  height: fit-content;
}
@media (max-width: 1200px) {
  .single-content .article-section .article-wrapper {
    width: 70%;
  }
}
@media (max-width: 766px) {
  .single-content .article-section .article-wrapper {
    width: 100%;
  }
}
.single-content .article-section .article-wrapper .article__heading {
  position: relative;
}
.single-content .article-section .article-wrapper .article__heading .article__image {
  height: 370px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  background-position: center;
  background-size: cover;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2FEQjYeVYv86TI-kFJ0T4mu52NIKwfTz50Q&usqp=CAU");
}
@media (max-width: 558px) {
  .single-content .article-section .article-wrapper .article__heading .article__image {
    border-radius: 0;
  }
}
.single-content .article-section .article-wrapper .article__heading .article__title {
  font-size: 24px;
  line-height: 130%;
  font-weight: 700;
  position: absolute;
  z-index: 1;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 30px 15px 18px 22px;
  color: #ffffff;
  background: linear-gradient(to bottom, rgba(17, 42, 99, 0) 0%, rgba(17, 42, 99, 0.7) 57%, #112a63 82%);
}
.single-content .article-section .article-wrapper .article__content {
  padding: 35px 20px 0;
}
@media (max-width: 558px) {
  .single-content .article-section .article-wrapper .article__content {
    padding: 15px 12px 0;
  }
}
.single-content .article-section .article-wrapper .article__content p {
  margin-bottom: 20px;
  color: #616161;
  font-size: 19px;
  line-height: 130%;
  font-weight: 500;
}
@media (max-width: 766px) {
  .single-content .article-section .article-wrapper .article__content p {
    font-size: 17px;
  }
}
.single-content .article-section .article-wrapper .article__content .linc-wrapper {
  margin-bottom: 20px;
}
.single-content .article-section .article-wrapper .article__content .linc-wrapper .card {
  display: flex;
  text-decoration: none;
  margin: 0 -20px;
  padding: 25px 20px;
  background: #e8f7ff;
  position: relative;
}
@media (max-width: 558px) {
  .single-content .article-section .article-wrapper .article__content .linc-wrapper .card {
    padding: 10px 10px;
  }
}
.single-content .article-section .article-wrapper .article__content .linc-wrapper .card:after {
  z-index: 10;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  height: 5px;
  width: 100%;
  background: transparent url("../witryna-2/assets/header/decor-pattern.png") repeat-x 0 0;
}
@media (max-width: 766px) {
  .single-content .article-section .article-wrapper .article__content .linc-wrapper .card:after {
    background: #D6D6D6;
    height: 1px;
  }
}
.single-content .article-section .article-wrapper .article__content .linc-wrapper .card:first-child:before {
  z-index: 10;
  content: "";
  position: absolute;
  top: -2px;
  left: 0;
  display: block;
  height: 5px;
  width: 100%;
  background: transparent url("../witryna-2/assets/header/decor-pattern.png") repeat-x 0 0;
}
@media (max-width: 766px) {
  .single-content .article-section .article-wrapper .article__content .linc-wrapper .card:first-child:before {
    background: #D6D6D6;
    height: 1px;
  }
}
.single-content .article-section .article-wrapper .article__content .linc-wrapper .card .card-image {
  border-radius: 4px 0 0 4px;
  width: 170px;
  height: 120px;
  margin-right: 15px;
}
@media (max-width: 558px) {
  .single-content .article-section .article-wrapper .article__content .linc-wrapper .card .card-image {
    width: 130px;
    height: 100px;
    margin-right: 10px;
  }
}
.single-content .article-section .article-wrapper .article__content .linc-wrapper .card .card-image img {
  border-radius: 4px 4px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.single-content .article-section .article-wrapper .article__content .linc-wrapper .card .content {
  transition: 150ms;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: calc(100% - 185px);
}
@media (max-width: 558px) {
  .single-content .article-section .article-wrapper .article__content .linc-wrapper .card .content {
    width: calc(100% - 140px);
  }
}
.single-content .article-section .article-wrapper .article__content .linc-wrapper .card .content .title {
  font-size: 19px;
  font-weight: 500;
  transition: 150ms;
  line-height: 26px;
  color: #000;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  max-height: 78px;
}
@media (max-width: 558px) {
  .single-content .article-section .article-wrapper .article__content .linc-wrapper .card .content .title {
    font-size: 16px;
    line-height: 22px;
  }
}
.single-content .article-section .article-wrapper .article__content .linc-wrapper .card .content .title:hover {
  text-decoration: none;
}
.single-content .article-section .article-wrapper .article__content .linc-wrapper .card .content .post-date {
  color: #818181;
  font-size: 16px;
  line-height: 130%;
  padding-top: 10px;
}
.single-content .article-section .article-wrapper .article__content .linc-wrapper .card:hover .title {
  color: #3163DC;
  text-decoration: underline;
}
.single-content .article-section .article-wrapper .article__content .article__navigation {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.single-content .article-section .article-wrapper .article__content .article__navigation .article-source {
  margin-left: auto;
  color: #818181;
  font-size: 15px;
  font-weight: 400;
  line-height: 31px;
}
.single-content .article-section .article-wrapper .article__content .article__navigation .article-source .article-source__link {
  color: #818181;
  text-decoration: none;
}
.single-content .article-section .article-wrapper .article__content .article__navigation .article-source .article-source__link:hover {
  text-decoration: underline;
}
.single-content .article-section .article-wrapper .article__content .read-also .read-also__title {
  padding-top: 25px;
  padding-bottom: 15px;
  font-size: 24px;
  font-weight: 700;
}
.single-content .article-section .article-wrapper .article__content .read-also .linc-wrapper {
  margin-bottom: 0;
}
.single-content .article-section .article-wrapper .article__content .read-also .linc-wrapper .card:last-child:after {
  display: none;
}
.single-content .article-section .sidebar {
  height: fit-content;
  position: sticky;
  top: 0;
}
@media (max-width: 1200px) {
  .single-content .article-section .sidebar {
    width: 30%;
  }
}
@media (max-width: 766px) {
  .single-content .article-section .sidebar {
    display: none;
  }
}
.single-content .article-section .sidebar .line_of-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 20px;
}
@media (max-width: 1200px) {
  .single-content .article-section .sidebar .line_of-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.single-content .article-section .sidebar .line_of-2 .card {
  min-height: 370px;
  background: #ffffff;
}
.single-content .article-section .sidebar .line_of-2 .card .card-image img {
  height: 175px;
  object-fit: cover;
}
.single-content .article-section .sidebar .line_of-2 .card .content {
  height: calc(100% - 175px);
}
.single-content .article-section .sidebar .line.line_of-1 {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-row-gap: 0;
  grid-column-gap: 0;
  margin-bottom: 20px;
  margin-top: 20px;
  padding: 0 20px;
  background: #fff;
  border-radius: 4px;
}
@media (max-width: 1200px) {
  .single-content .article-section .sidebar .line.line_of-1 {
    display: none;
  }
}
.single-content .article-section .sidebar .line.line_of-1 .card {
  display: flex;
  text-decoration: none;
  padding: 25px 0px;
  background: #ffffff;
  position: relative;
  border: none;
}
.single-content .article-section .sidebar .line.line_of-1 .card:first-child:after {
  z-index: 10;
  content: "";
  position: absolute;
  bottom: -2px;
  left: 0;
  display: block;
  height: 5px;
  width: 100%;
  background: transparent url("../witryna-2/assets/header/decor-pattern.png") repeat-x 0 0;
}
.single-content .article-section .sidebar .line.line_of-1 .card .card-image {
  border-radius: 4px 0 0 4px;
  width: 170px;
  height: 120px;
  margin-right: 15px;
}
.single-content .article-section .sidebar .line.line_of-1 .card .card-image img {
  border-radius: 4px 4px 0 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.single-content .article-section .sidebar .line.line_of-1 .card .content {
  transition: 150ms;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: calc(100% - 185px);
  padding: 0;
}
.single-content .article-section .sidebar .line.line_of-1 .card .content .title {
  font-size: 19px;
  font-weight: 500;
  transition: 150ms;
  line-height: 130%;
  color: #000;
}
.single-content .article-section .sidebar .line.line_of-1 .card .content .title:hover {
  text-decoration: none;
}
.single-content .article-section .sidebar .line.line_of-1 .card .content .post-date {
  color: #818181;
  font-size: 16px;
  line-height: 130%;
  padding-top: 10px;
}
.single-content .article-section .sidebar .line.line_of-1 .card:hover .title {
  color: #3163DC;
  text-decoration: underline;
}

@media (max-width: 998px) {
  .single-preview .section {
    padding: 20px 0;
  }
}
.single-preview .section_of-2 {
  padding: 20px 0 45px;
}
@media (max-width: 998px) {
  .single-preview .section_of-2 {
    display: none;
  }
}
.single-preview .section_of-2 .center-wrapper .column_of-2 .card {
  background: #ffffff;
}

.section-preview {
  padding-bottom: 0;
}
@media (max-width: 998px) {
  .section-preview .article-section {
    display: flex;
  }
}
@media (max-width: 998px) {
  .section-preview .article-section .article-wrapper {
    width: 70%;
  }
}
@media (max-width: 766px) {
  .section-preview .article-section .article-wrapper {
    width: 100%;
  }
}
.section-preview .article-section .article-wrapper .article__heading:hover .article__image .article-preview__content .article-preview__title {
  color: #3163DC;
  text-decoration: underline;
}
.section-preview .article-section .article-wrapper .article__heading .article__image {
  position: relative;
  height: 370px;
  overflow: hidden;
  border-radius: 4px 4px 0 0;
  background-position: center;
  background-size: cover;
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT2FEQjYeVYv86TI-kFJ0T4mu52NIKwfTz50Q&usqp=CAU");
}
.section-preview .article-section .article-wrapper .article__heading .article__image .article-preview__content {
  padding: 20px;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0.6), white 75%);
}
.section-preview .article-section .article-wrapper .article__heading .article__image .article-preview__content .article-preview__title {
  color: #222;
  font-size: 21px;
  line-height: 130%;
  font-weight: 700;
  margin-bottom: 20px;
}
.section-preview .article-section .article-wrapper .article__heading .article__image .article-preview__content .article-preview__title:hover {
  color: #3163DC;
  text-decoration: none;
}
.section-preview .article-section .article-wrapper .article__heading .article__image .article-preview__content .article-preview__read-more {
  width: 156px;
  height: 44px;
  border-radius: 4px;
  background: #3163DC;
  color: #fff;
  font-size: 20px;
  line-height: 44px;
  font-weight: 700;
  text-align: center;
}
.section-preview .article-section .article-wrapper .article__heading .article__image .article-preview__content .article-preview__read-more:hover {
  background: #2751b3;
}
@media (max-width: 998px) {
  .section-preview .article-section .sidebar {
    width: 30%;
  }
}
@media (max-width: 766px) {
  .section-preview .article-section .sidebar {
    display: none;
  }
}
@media (max-width: 998px) {
  .section-preview .article-section .sidebar .line_of-2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
.section-preview .article-section .sidebar .line_of-2 .card {
  background: #ffffff;
}
@media (max-width: 998px) {
  .section-preview .article-section .sidebar .line_of-2 .card:last-child {
    display: none;
  }
}
.section-preview .article-section .sidebar .line_of-2 .card .card-image img {
  height: 175px;
  object-fit: cover;
}
.section-preview .article-section .sidebar .line_of-2 .card .content {
  height: calc(100% - 175px);
}

section.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 11;
}
section.popup .modal-window {
  position: absolute;
  top: 10%;
  margin-left: 0;
  max-width: 1200px;
  padding: 0 15px;
  width: 100%;
  transform: translateX(-50%);
  left: 50%;
}
section.popup .modal-window#about {
  max-width: 500px;
}
section.popup .modal-window#policy {
  max-width: 1200px;
}
section.popup .modal-window .modal-headline {
  position: relative;
  height: 50px;
  background: #3163DC;
  color: #fff;
  font-size: 18px;
  line-height: 50px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
}
section.popup .modal-window .modal-headline .modal-close {
  position: absolute;
  top: 0;
  right: 0;
  height: 24px;
  width: 24px;
  margin-top: 13px;
  margin-right: 13px;
  line-height: 24px;
  cursor: pointer;
}
section.popup .modal-window .modal-content {
  max-height: calc(100vh - 200px);
  overflow-y: auto;
  position: relative;
  background-color: #fff;
  padding: 16px 20px;
  font-family: "Lato", sans-serif;
  color: #000;
  font-size: 18px;
  line-height: 130%;
  font-weight: 500;
}
section.popup .modal-window .modal-content h2 {
  font-weight: 700;
  font-size: 16px;
  margin-top: 26px;
  margin-bottom: 10px;
}
section.popup .modal-window .modal-content ul {
  list-style: disc;
  padding-left: 25px;
}

strong, .bold {
  font-weight: 700;
}

body {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
  margin: 0;
  position: relative;
  overflow-x: hidden;
}

.columnar {
  grid-template-columns: repeat(4, [col-start] 1fr);
}
@media (max-width: 998px) {
  .columnar {
    grid-template-columns: repeat(12, [col-start] 1fr);
  }
}

/*# sourceMappingURL=base.css.map */
