section {
  &.popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: 11;
    .modal-window {
      &#about {
        max-width: 500px;
      }
      &#policy {
        max-width: 1200px;
      }
      position: absolute;
      top: 10%;
      margin-left: 0;
      max-width: 1200px;
      padding: 0 15px;
      width: 100%;
      transform: translateX(-50%);
      left: 50%;
      .modal-headline {
        position: relative;
        height: 50px;
        background: #3163DC;
        color: #fff;
        font-size: 18px;
        line-height: 50px;
        font-weight: 700;
        text-align: center;
        text-transform: uppercase;
        .modal-close {
          position: absolute;
          top: 0;
          right: 0;
          height: 24px;
          width: 24px;
          margin-top: 13px;
          margin-right: 13px;
          line-height: 24px;
          cursor: pointer;
        }
      }
      .modal-content {
        max-height: calc(100vh - 200px);
        overflow-y: auto;
        position: relative;
        background-color: #fff;
        padding: 16px 20px;
        font-family: "Lato", sans-serif;
        color: #000;
        font-size: 18px;
        line-height: 130%;
        font-weight: 500;
        h2 {
          font-weight: 700;
          font-size: 16px;
          margin-top: 26px;
          margin-bottom: 10px;
        }
        ul {
          list-style: disc;
          padding-left: 25px;
        }
      }
    }
  }
}