/* COLORS */
$color-bright-blue: #06aff2;
$color-black: #000000;
$color-blue-steel: #217797;
$color-charcoal-gray: #0c0c0c;
$color-concrete: #757575;
$color-core-gray: #e6e6e6;
$color-green: #98b22e;
$color-off-white: #f7f7f7;
$color-perm-blue: #072a63;
$color-powder-blue: #8dc8e8;
$color-medium-gray: #f2f2f2;
$color-mineral: #042430;
$color-light-mineral: #044A61;
$color-red: #d50f0f;
$color-rust: #ed8611;
$color-salmon: #ff6058;
$color-slate-blue: #bcc2cd;
$color-transparent: transparent;
$color-white: #ffffff;
$primary-nav-menu-background: #0d4b63;
$email-capture-button-hover-background: #0097d3;

$input-label-transition-time: 300ms;

$grid-gap: 24px;
$desktop-grid-padding: 0 44px;
$mobile-grid-padding: 0 16px;
$tablet-grid-padding: 0 32px;


